mat-sidenav {
  width: 100%;
  background-color: #B2EBF2; }

.cross {
  cursor: pointer;
  float: left;
  height: 25px;
  width: 30px;
  position: absolute;
  right: 15px;
  top: 15px; }
  .cross-item {
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: #344055;
    left: 0; }

.cross-1 {
  top: 10px;
  transform: rotate(45deg); }

.cross-2 {
  top: 10px;
  transform: rotate(-45deg); }

/*menu mobile*/
.menu-small-list {
  padding: 20px 0;
  text-align: center; }
  .menu-small-list-element {
    cursor: pointer;
    text-transform: uppercase;
    list-style: none;
    font-size: 2em;
    margin-bottom: 10px; }
    .menu-small-list-element-active {
      color: #A3BBAD;
      cursor: default; }
    .menu-small-list-element-link {
      color: inherit;
      text-decoration: none; }
      .menu-small-list-element-link:focus {
        outline: inherit; }
      .menu-small-list-element-link:hover {
        cursor: inherit; }

/*menu tablet desktop*/
.menu-large {
  display: none;
  background-color: #b2ebf2; }
  .menu-large-list {
    padding: 0; }
    .menu-large-list-element {
      list-style: none; }

@media screen and (min-width: 768px) {
  .menu-small {
    display: none; }
  .menu-large {
    display: block; } }

@media screen and (min-width: 991px) {
  .menu-burger {
    left: 30px; } }
