<mat-card>
   <mat-card-header>
     <mat-card-title><i class="material-icons">contacts</i>Contactez-moi/Contact me</mat-card-title>
   </mat-card-header>
  <mat-card-content>
    Je suis actuellement en mission, mais je reste disponible pour toutes questions/ I'm actually in mission, but i rest available for your questions
  </mat-card-content>
  <mat-card-actions>
    <button class="contact-button" mat-button>
      <a href="mailto:deflandre.vincent@gmail.com">Gmail</a>
    </button>
    <button class="contact-button" mat-button>
      <a href="https://www.linkedin.com/in/deflandre-vincent-frontend" target="_blank">Linkedin</a>
    </button>
    <button class="contact-button" mat-button>
      <a href="https://twitter.com/kiravince?lang=fr" target="_blank">Twitter</a>
    </button>
  </mat-card-actions>
</mat-card>
