<mat-sidenav-container id="menu">
  <mat-sidenav
    #sidenav
    mode="over"
    opened="false"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <div mat-button (click)="sidenav.close()" class="cross">
        <span class="cross-item cross-1"></span>
        <span class="cross-item cross-2"></span>
    </div>
    <ul class="menu-list">
      <li mat-button (click)="sidenav.toggle()" *ngFor="let item of menu.itemMenu" routerLinkActive="menu-list-element-active" class="menu-list-element">
        <a class="menu-list-element-link" routerLink="{{item.url}}">{{item.name}}</a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
        <button (click)="sidenav.toggle()"  mat-button>
          Menu
      </button>
  </mat-sidenav-content>
</mat-sidenav-container>
