header
    position: relative
    border-bottom: 3px solid #000
    text-align: center
    height: 70px
    z-index: 40
    transition: all ease 1s
    -moz-transition: all ease 1s
    -webkit-transition: all ease 1s

    &.active
      border-bottom-color: #fff
      transition: all ease 1s
      -moz-transition: all ease 1s
      -webkit-transition: all ease 1s
