* {
  font-family: 'Roboto', sans-serif; }

h1 {
  margin: 0;
  padding: 10px 0;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s; }
  h1.active {
    color: #fff;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s; }
