mat-toolbar {
  position: relative;
  text-align: center;
  height: 70px;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  background-color: #4fc3f7; }
  mat-toolbar.active {
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s; }

h1 {
  text-align: center;
  width: 100%; }
