header {
  position: relative;
  box-shadow: 0 5px 5px #ddd;
  text-align: center;
  height: 70px;
  z-index: 40;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s; }
  header.active {
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s; }
