* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px 0;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
}
mat-toolbar {
  position: relative;
  text-align: center;
  height: 70px;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  background-color: #B2EBF2;
}

mat-toolbar.active {
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
}

h1 {
  text-align: center;
  width: 100%;
}

#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

mat-sidenav {
  width: 100%;
  background-color: #B2EBF2;
}

.mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-burger {
  cursor: pointer;
  float: left;
  height: 25px;
  width: 30px;
  position: relative;
  left: 10px;
  top: 20px;
}

.menu-burger-item {
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #000;
  left: 0;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
}

.menu-burger-item.active {
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  top: 10px;
}

.menu-burger-top {
  top: 0;
}

.menu-burger-top.active {
  transform: rotate(45deg);
}

.menu-burger-middle {
  top: 10px;
}

.menu-burger-middle.active {
  display: none;
}

.menu-burger-bottom {
  top: 20px;
}

.menu-burger-bottom.active {
  transform: rotate(-45deg);
}

.menu-list {
  padding: 20px 0;
  text-align: center;
}

.menu-list-element {
  cursor: pointer;
  text-transform: uppercase;
  list-style: none;
  font-size: 2em;
  margin-bottom: 10px;
}

.menu-list-element-link {
  color: initial;
  text-decoration: none;
}

.menu-list-element-link:focus {
  outline: inherit;
}

@media screen and (min-width: 768px) {
  mat-sidenav {
    width: 320px;
  }
}

@media screen and (min-width: 991px) {
  .menu-burger {
    left: 30px;
  }
}

